<section class="bg-white  mx-auto text-center mt-14">
  <div class="container">
    <div class="flex flex-col gap-4 justify-center items-center">
      <p class="oops font-bold text-6xl lg:text-9xl">Oops!</p>
      <h1 class="uppercase text-xl font-semibold">404 - page not found</h1>
      <p>The page you are looking for might have been removed <br>
        had its name changed or is temporarily unavailable
      </p>
      <a routerLink="/" class="text-center uppercase font-normal py-3 px-4 shadow-xl  text-lg bg-app-200 text-white border rounded-3xl w-fit hover:bg-app-100">go to homepage</a>
    </div>
  </div>
</section>